body * {
  /* border: 1px solid #333; */
}

/* 각 박스의 기본 스타일 */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border-radius: 10px;
  height: 300px;
}
/* ===============================*/

/* 전체 컨테이너 스타일을 작성해주세요*/
.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* 3행 */
  grid-template-columns: repeat(4, 1fr); /* 4열 */
  gap: 10px; /* 박스 간의 간격 */
  margin: 10px;
}

.box:nth-child(1) {
  grid-column: 1 / 5; /* 1열에서 시작해 5열까지 차지 */
  grid-row: 1; /* 1행 */
}
.box:nth-child(2) {
  grid-column: 1 / 3; /* 1열에서 시작해 3열까지 차지 */
  grid-row: 2 / 4; /* 2~3행 */
}
.box:nth-child(3) {
  grid-column: 3; /* 3열 */
  grid-row: 2 / 4; /* 2~3행 */
}
.box:nth-child(4) {
  grid-column: 4; /* 4열 */
  grid-row: 2 / 4; /* 2~3행 */
}

/* 여기에 반응형 디자인을 해주세요 */
@media (max-width: 768px) {
  .container{
      display: flex;
      flex-direction: column;
  }
  .box {
    background: burlywood;
  }
}


