body * {
  /* border: 1px solid #333; */
}

/* 각 박스의 기본 스타일 */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border-radius: 10px;
  height: 300px;
}
/* ===============================*/

/* 전체 컨테이너 스타일을 완성해주세요*/
.container {
  display: grid;
  gap: 10px; /* 박스 간의 간격 */
  margin: 10px;
}

/* 여기에 반응형 디자인을 해주세요 */



